{% extends "wrapper.html" %}
{% block title %}Crew{% endblock %}
{% block content %}
<div class="container">
    <h2>WAHS Cast and Crew</h2>
    {% comment %}
        Each member should have 
            1) A portrait of them on a green screen (smiling prefferably)
            2) Their name (dur)
            3) Their title next to their name
            4) A short paragraph about who they are
            5) A link to a page containing productions they were part of
    {% endcomment %}
    {% for member, fullName in crewMembers %}
            <div class="row">
                <div class="col-lg-2">
                    <img class="crew-pic" src="{{ member.profilePic.url }}">
                </div>
                <div class="col-lg-10">
                    <span class="crew-name-left"><a href="{{ fullName }}">{{ member.firstName }} {{ member.lastName }}</a></span><span class="text-muted" style="padding-left: 5px;">{{ member.position }}</span>
                    <div class="crew-description-left">
                        <p>{{ member.bio }}</p>
                    </div>
                </div>
            </div>
            <br/>
    {% endfor %}
    <br/>
</div>
{% endblock %}
