{% extends "wrapper.html" %}
{% comment %}
    Body:
        Live stream in large
        Two segments per row below
            Entertainment - Screening Room
            Cooking with Cook - Two Chicks and a Mic
            Wacky Holidays - What Grinds My Gears
{% endcomment %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <div class="container">
            <span class="LimelightEmbeddedPlayer">
                <script type="mce-text/javascript" src="http://assets.delvenetworks.com/player/embed.js"></script>
                <object id="limelight_player_108589" width="100%" height="600" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0">
                    <param name="wmode" value="window">
                    <param name="allowScriptAccess" value="always">
                    <param name="allowFullScreen" value="true">
                    <param name="flashVars" value="mediaId=ec15445c05cb4257adff9ce4f8766d13&amp;playerForm=67e1bdd8a46c499c9a49babb38216140">
                    <param name="src" value="http://assets.delvenetworks.com/player/loader.swf">
                    <param name="allowscriptaccess" value="always">
                    <param name="allowfullscreen" value="true">
                    <param name="flashvars" value="mediaId=ec15445c05cb4257adff9ce4f8766d13&amp;playerForm=67e1bdd8a46c499c9a49babb38216140">
                    <embed id="limelight_player_108589" width="100%" height="600" type="application/x-shockwave-flash" src="http://assets.delvenetworks.com/player/loader.swf" wmode="window" allowscriptaccess="always" allowfullscreen="true" flashvars="mediaId=ec15445c05cb4257adff9ce4f8766d13&amp;playerForm=67e1bdd8a46c499c9a49babb38216140">
                </object>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-6">
                <h2>Entertainment</h2>
                <p>Eduardo walks you through the week in entertainment news</p>
            </div>
            <div class="col-lg-6">
                <h2>Screening Room</h2>
                <p>Interviews and stuff</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-6">
                <h2>Cooking with Cook</h2>
                <p>WAHS's local Cook shows you how you can make cheap, delicious food with ease</p>
            </div>
            <div class="col-lg-6">
                <h2>Two Chicks and a Mic</h2>
                <p>Carolina and Amanda awnder around campus and get the word on the streets of AHS</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-6">
                <h2>Wacky Holidays</h2>
                <p>Charles highlights some weird and obscure holidays that occur each week</p>
            </div>
            <div class="col-lg-6">
                <h2>What Grinds My Gears</h2>
                <p>Charles rants about stuff</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}