{% extends "wrapper.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Results</h1>
            {% for production in productions %}
                <h4>{{ production.title }}</h4>
            {% endfor %}  
        </div>
    </div>
</div>
{% endblock %}