{% extends "wrapper.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <video width="640" height="480" controls>
                <source src="{{ MEDIA_URL }}{{ videoURL }}" type="video/mp4">
                Your browser does not support HTML5 video
            </video>
        </div>
    </div>
</div>
{% endblock %}