{% load staticfiles %}

{% comment %}
    Header:
        Logo (left)
        Title (left)
        Crew (right)
        Archive (right)
    Footer:
        Contact Us | About | American Heritage | Patriot Post | USE TV
{% endcomment %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen"/>
    <link rel="stylesheet" href="{% static 'css/site.css' %}"/>
    {% block extra_header %}{% endblock %}
    <title>{% block title %}WAHS News{% endblock %}</title>
</head>

<body>
    <div id="content">
        <div class="container">
            <div class="header">
                <div class="container">
                    <a href="{% url 'index' %}"><img src="http://placehold.it/50x50" class="pull-left"></a>
                    <a href="{% url 'index' %}"><span class="header-title">WAHS News</span></a>
                    <a href="{% url 'crew' %}" class="pull-right">Crew</a>
                </div>
            </div>
        </div>
        {% block content %}{% endblock %}
    </div>
    <div class="container">
        <div class="jumbotron">
            <h4> Contact Us | About | American Heritage | Patriot Post | USE TV </h4>
        </div>
    </div>
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>