/* Used in dev to visualize the grid */
.grid-outline {
    border-style: dashed; 
    border-color: #000000; 
    border-width: 3px;
}

.crew-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(URL) no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.crew-description-left {
    width: 75%;
}

.crew-name-left {
    font-size: 20px;
    font-weight: bold;
}

.crew-name-right {
    padding-right: 50px;
    font-size: 20px;
    font-weight: bold;
}

.crew-description-right {
    padding-right: 150px;
    width: 75%;

.header-title {
    font-size:20px;
}
